# Ignore all binaries without extensions
*
!*.*
!*/
!Makefile

# Ignore all object files, shared libraries
*.o
*.a
*.so

# Ignore all swap files, test files, local tests, tags, and debug history
**/*.swp
**/*.test
localtests
.tags*
tags
.dbg_history

# Ignore all teamcity and vagrant files, idea files, and iml files
.teamcity/target
.vagrant
.idea
*.iml
